*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
   font-family: sans-serif;
}
.container{
    padding-inline-start: 40px; 
}
h1{
    font-size: 45px;
    margin-block: 20px;
}
input{
    height: 40px;
    width: 400px;
    margin-block: 10px;
    padding-inline-start: 10px;
    font-size: 16px;
}
textarea{
    height: 50px;
    width: 400px;
    margin-block: 10px;
    padding: 10px;
    font-size: 16px;
}
label{
    font-size: 18px;
}
button{
    all:unset;
    padding: 8px 10px;
    margin-bottom: 30px;
}
button:hover{
    background-color: grey;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.feedback-item{
    background-color: rgb(224, 224, 239);
    border-radius: 5px;
    margin-top: 10px;
    height: 45px;
    padding: 10px;
    border: 1px solid rgb(139, 139, 244);
}
